HtPasswordLoginAuth {
  io.mapsmessaging.security.jaas.HtPasswordLoginModule Required
                                                      debug=true;
                                                      htPasswordFile=".htpasswd"

};

SSLAuthConfig{
   io.mapsmessaging.security.jaas.SSLCertificateLoginModule Required
                                                          debug=false;
};

JWTAuthConfig{
  io.mapsmessaging.security.jaas.Auth0JwtLoginModule Required
                                             debug=true
                                             auth0Domain=dev-krmpy6-z.au.auth0.com;
};