ApacheLoginAuth {
  io.mapsmessaging.security.jaas.IdentityLoginModule Required
                                                      debug=true
                                                      identityName="Apache-Basic-Auth"
                                                      configDirectory="./src/test/resources/apache";

};

UnixLoginAuth {
  io.mapsmessaging.security.jaas.IdentityLoginModule Required
                                                      debug=true
                                                      identityName="unix"
                                                      configDirectory="./src/test/resources/nix";

};

SSLAuthConfig{
   io.mapsmessaging.security.jaas.SSLCertificateLoginModule Required
                                                          debug=false;
};

JWTAuthConfig{
  io.mapsmessaging.security.jaas.Auth0JwtLoginModule Required
                                             debug=true
                                             auth0Domain=dev-krmpy6-z.au.auth0.com;
};