HtPasswordLoginAuth {
  io.mapsmessaging.security.jaas.IdentityLoginModule Required
                                                      debug=true;
                                                      identityName="htpassword"
                                                      htPasswordFile="./src/test/resources/.htpassword"

};

ShadowLoginAuth {
  io.mapsmessaging.security.jaas.IdentityLoginModule Required
                                                      debug=true;
                                                      identityName="shadow"
                                                      htPasswordFile="./src/test/resources/shadow"

};

SSLAuthConfig{
   io.mapsmessaging.security.jaas.SSLCertificateLoginModule Required
                                                          debug=false;
};

JWTAuthConfig{
  io.mapsmessaging.security.jaas.Auth0JwtLoginModule Required
                                             debug=true
                                             auth0Domain=dev-krmpy6-z.au.auth0.com;
};